// mobile styles

// base styles

body {
  color: $united-black;
}

h1 {
  @include baseline((36/$base-font-size), 'lg');
}

ul {
  padding-left: 0;
}

a {
  text-decoration: none;
}

main {
  @include baseline(1, 'sm');
  margin: 0;
}

.menu-icon {
  color: $white;
  font-size: 30px;
  height: 100%;
  position: absolute;
  top: 7px;
}

.rt-arrow-icon {
  color: $united-yellow;
  float: right;
}

.blue {
  color: $united-blue;
}

// modules
.page-header {
  background: linear-gradient(rgba($united-blue, 0.8), $united-blue);
  position: relative;
}

.united-logo {
  background: url('../img/united_logo_name.png'), url('../img/united_logo_white-mark.png');
  background-repeat: no-repeat, no-repeat;
  background-position: center center, center right;
  background-size: 45%, contain;
  height: 45px;
  margin: 0;
  width: 100%;
}

.top-nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  i {
    margin-left: 15px;
  }
  ul {
    display: none;
    background-color: $united-blue;
    box-shadow: 0px 5px 5px 0px $united-grey;
    list-style-type: none;
    margin: 0;
    padding: 0 15px;
    position: relative;
    top: 45px;
    width: 100%;
    li {
      @extend .clearfix;
      @include baseline(1, 'sm');
      @include padding(0.5, 0.5);
      border-bottom: 1px solid $united-yellow;
      margin: 0;
      &:last-of-type {
        border-bottom: 0;
      }
      a {
        color: $white;
      }
    }
  }
}

.sub-nav {
  @include padding(0.5, 0);
  background-color: $united-lt-grey;
  box-shadow: inset 0px -10px 10px -10px $united-grey;
  ul {
    @include baseline((14/$base-font-size), 'sm');
    list-style-type: none;
    margin: 0;
    .active {
      border-bottom: 5px solid $united-yellow;
      font-weight: bold;
    }
    li {
      float: left;
      padding-bottom: 0.375em;
      text-align: center;
      width: 25%;
      a {
        color: $united-black;
      }
    }
  }
}

.flight-form {
  @include padding(0.5, 1);
  background-color: $white;
  label {
    @include baseline((21/$base-font-size), 'sm');
    color: $united-blue;
  }
  .flight-input {
    @include padding(0.375, 0.375);
    border: none;
    border-bottom: 5px solid $united-lt-grey;
    color: $united-black;
    width: 100%;
  }
  .flight-radio {
    @include padding(0, 2);
    .active {
      font-weight: bold;
    }
    label {
      @include baseline((13/$base-font-size), 'sm');
      color: $united-black;
      display: block;
      float: left;
      text-align: left;
      width: (1/3)*100%;
      &:nth-of-type(2) {
        text-align: center;
      }
      &:nth-of-type(3) {
        text-align: right;
      }
      input {
        margin-right: 0.5em;
      }
    }
  }
}

.flight-button {
  @include padding(0.5, 0.5);
  background: linear-gradient(rgba($united-blue, 0.8), $united-blue);  border: none;
  box-shadow: 0px 10px 5px -5px $united-grey;
  color: $united-yellow;
  display: block;
  margin: 0 auto;
  width: 100%;
}

.form-inline-group {
  @include padding(0, 1);
  input {
    display: inline-block;
  }
}

.form-group {
  @include padding(0, 1);
  display: block;
}

.form-control {
  display: block;
}

.board-pass {
  box-shadow: 0px 7px 5px -px $united-grey;
}

.board-pass-nav {
  ul {
    list-style-type: none;
    li {
      @include padding(0.5, 0.5);
      @include baseline((13/$base-font-size), 'sm');
      background-color: $united-lt-grey;
      float: left;
      margin: 0;
      text-align: center;
      width: 50%;
      a {
        color: $united-black;
        font-weight: bold;
      }
      &:nth-of-type(2) {
        box-shadow: inset 1px -1px 10px -4px $united-black;
      }
    }
    .inactive {
      background-color: $united-grey;
      a {
        color: $united-lt-grey;
        font-weight: normal;
      }
    }
  }
}

.board-pass-form {
  @include padding(1.5, 1);
  background-color: $united-lt-grey;
  padding-left: 15px;
  padding-right: 15px;
  label {
    color: $united-blue;
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .board-pass-input {
    @include padding(0.375, 0.375);
    border: none;
    border-bottom: 5px solid $united-grey;
    color: $united-black;
    float: left;
    padding-left: 15px;
    width: 80%;
  }
}

.board-pass-button {
  @include padding(0.375, 0.375);
  background: linear-gradient(rgba($united-blue, 0.8), $united-blue);  border: none;
  box-shadow: 0px 10px 5px -5px $united-grey;
  color: $united-yellow;
  float: left;
  margin-left: 5%;
  width: 15%;
}

.united-ad {
  @include padding(1, 1);
  .box {
    background-color: $united-grey;
    height: 150px;
    position: relative;
    p {
      color: $united-lt-grey;
      margin: 0;
      position: absolute;
      top: 50%;
      text-align: center;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}

.united-footer {
  @include padding(1, 1);
  background-color: $united-lt-grey;
  box-shadow: inset 0px 10px 10px -10px $united-grey;
  img {
    @include padding(0, 1);
    width: 100%;
  }
  ul {
    @include baseline(1, 'sm');
    @include padding(0, 1);
    list-style-type: none;
  }
  a {
    color: $united-blue;
  }
  p {
    @include baseline((14/$base-font-size), 'sm');
  }
}

.l-block {
  display: block;
}
