// Colors
$black: #212121;
$lt-grey: #EEE;
$white: #FFF;

// United Airlines Colors
$united-black: #2e2e2e;
$united-blue: #005daa;
$united-grey: #BDBDBD;
$united-lt-grey: #EFEFEF;
$united-yellow: #f0cc00;

// Fonts
$base-font-size: 16;
$font-stack-body: Arial, "Helvetica Neue", Helvetica, sans-serif;
$font-stack-headline: "HelveticaNeue-CondensedBold", "Arial Narrow", "Helvetica Neu", Arial, sans-serif;

// Layout
$rhythm: 1.4;
